<div class="container">
    <h2>Register as Company</h2>

    <form [formGroup]="cRegForm" (ngSubmit)=" onSignup(cRegForm.value); onCReg(cRegForm.value);">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Company Name" [formControl]="cRegForm.controls['cname']">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Established" [formControl]="cRegForm.controls['estd']">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" [formControl]="cRegForm.controls['email']">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" [formControl]="cRegForm.controls['pswd']">
    </div>
    
    <button type="submit">Register</button>
    </form>
</div>