<div class="container">
    <h2>Faq Component</h2>

    <p class="question">What if my aggregate is low</p>
    <p class="answer">Well you will still get low salary jobs</p>
    <br>

    <p class="question">What if my aggregate is low</p>
    <p class="answer">Well you will still get low salary jobs</p>
    <br>

    <p class="question">What if my aggregate is low</p>
    <p class="answer">Well you will still get low salary jobs</p>
    <br>

    <p class="question">What if my aggregate is low</p>
    <p class="answer">Well you will still get low salary jobs</p>
    <br>
</div>

