<div class="container">
    <h2>Post Vacancy</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
        <input type="text" placeholder="Company Name" class="form-control" [formControl]="myForm.controls['cName']">
    </div>
    <div class="form-group">
        <textarea name="Vacancy" id="" cols="10" rows="5" class="form-control" [formControl]="myForm.controls['vacancy']"></textarea>
    </div>
    
    <button class="btn btn-default" type="submit">Post Job</button>
</form>
</div>